.home-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 500px;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}
h1{
        color: #F2B705;
}
p{

    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 15px;
}
