html{
    height: 100%;
}
body{
    height: 100%;
}
app-root{
    display: block;
    height: 100%; 
}
.router-container {
    height: 100%;
}

.router-container > :not(router-outlet) {
    height: 100%;
    display: grid;
}
projet-test-auth{
    justify-content: center;
    align-content: center;
}
projet-test-home{
    justify-self: center;
}

projet-test-dashboard{
    justify-content: center;
    align-content: center;
}
.btn.btn-yellow:hover{
    color: #F8F8F8;
    background-color: #F2B705;
    transform: translateY(-1px);
}

.btn.btn-yellow{
        color: #F2B705;
    border: solid 1px;
    border-color: #F2B705;
        height: 45px;

}