<div class="home-wrapper">
  <h1>Qui sommes nous ?</h1>
  <img
    src="../../assets/images/PlaceHolderNotreEquipeImage.jpg"
    alt="ImageEquipe"
  />
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tortor
    orci. Donec efficitur risus mi, eget bibendum massa cursus et. Suspendisse
    laoreet tempor malesuada. Vivamus sodales accumsan dolor ut vulputate.
    Aliquam vitae cursus augue. Nulla rutrum fermentum dignissim. Vivamus non
    rhoncus risus. Vestibulum dignissim pretium leo, eget tincidunt tortor
    sodales vel. Maecenas ullamcorper, odio nec condimentum egestas, sem lacus
    cursus mauris, et vehicula dolor sapien sit amet odio. Sed sit amet eros
    varius, malesuada mauris et, fringilla purus. Vestibulum gravida eu augue
    vel gravida. Donec eu augue lacus. Ut congue risus ipsum, nec posuere mauris
    feugiat ut. Donec cursus neque vitae risus suscipit, sed facilisis nisl
    efficitur. Mauris sit amet feugiat nunc. Sed non hendrerit ante, malesuada
    rhoncus tellus. In risus mauris, sagittis tempor enim at, mollis varius
    purus. Integer feugiat, felis eget pharetra vestibulum, lectus risus dapibus
    augue, quis pulvinar neque nisi nec quam. Morbi lectus quam, tincidunt eget
  </p>
  <h1>Que faisons nous?</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tortor
    orci. Donec efficitur risus mi, eget bibendum massa cursus et. Suspendisse
    laoreet tempor malesuada. Vivamus sodales accumsan dolor ut vulputate.
    Aliquam vitae cursus augue. Nulla rutrum fermentum dignissim. Vivamus non
    rhoncus risus. Vestibulum dignissim pretium leo, eget tincidunt tortor
    sodales vel. Maecenas ullamcorper, odio nec condimentum egestas, sem lacus
    cursus mauris, et vehicula dolor sapien sit amet odio. Sed sit amet eros
    varius, malesuada mauris et, fringilla purus. Vestibulum gravida eu augue
    vel gravida. Donec eu augue lacus. Ut congue risus ipsum, nec posuere mauris
    feugiat ut. Donec cursus neque vitae risus suscipit, sed facilisis nisl
    efficitur. Mauris sit amet feugiat nunc. Sed non hendrerit ante, malesuada
    rhoncus tellus. In risus mauris, sagittis tempor enim at, mollis varius
    purus. Integer feugiat, felis eget pharetra vestibulum, lectus risus dapibus
    augue, quis pulvinar neque nisi nec quam. Morbi lectus quam, tincidunt eget
  </p>
  <h1>Nos valeurs</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non tortor
    orci. Donec efficitur risus mi, eget bibendum massa cursus et. Suspendisse
    laoreet tempor malesuada. Vivamus sodales accumsan dolor ut vulputate.
    Aliquam vitae cursus augue. Nulla rutrum fermentum dignissim. Vivamus non
    rhoncus risus. Vestibulum dignissim pretium leo, eget tincidunt tortor
    sodales vel. Maecenas ullamcorper, odio nec condimentum egestas, sem lacus
    cursus mauris, et vehicula dolor sapien sit amet odio. Sed sit amet eros
    varius, malesuada mauris et, fringilla purus. Vestibulum gravida eu augue
    vel gravida. Donec eu augue lacus. Ut congue risus ipsum, nec posuere mauris
    feugiat ut. Donec cursus neque vitae risus suscipit, sed facilisis nisl
    efficitur. Mauris sit amet feugiat nunc. Sed non hendrerit ante, malesuada
    rhoncus tellus. In risus mauris, sagittis tempor enim at, mollis varius
    purus. Integer feugiat, felis eget pharetra vestibulum, lectus risus dapibus
    augue, quis pulvinar neque nisi nec quam. Morbi lectus quam, tincidunt eget
  </p>
</div>
