
.btn-form{
    justify-self: center;
}


.input-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70%;
}
.head-wrapper{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*To be modified*/
.form-wrapper{
    display: flex;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 10px;
    height: 400px;
    width: fit-content;
    margin-bottom: 100px;
}
.btn-wrapper{
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;

}