<form onsubmit="" class="border rounded form-wrapper">
  <h2 class="form-form">{{ Title }}</h2>
  <div class="form-cell-wrapper">
    @for (row of Matrix; track $index) {
      <div class="form-row-wrapper">
        @for (col of row; track $index) {
          <div class="form-group form-column-wrapper">
            <label [for]="col">{{ col }}</label>
            <input
              placeholder="Entrez votre {{ col }}"
              [type]="col"
              class="form-control"
              (input)="onInputChange($event)"
            />
          </div>
        }
      </div>
    }
  </div>
  <button type="submit" class="btn btn-form">Confirmer</button>
</form>
