.form-column-wrapper{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.form-row-wrapper{
    gap: 10px;
}
.form-cell-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.btn-form{
    color: #F2B705;
    border: solid 1px;
    border-color: #F2B705;
    justify-self: center;
}
.form-wrapper{
    display: grid;
    background-color: #F8F8F8;
    padding: 10px;
    width: fit-content;
}